header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  margin-right: 15px;
}


.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao{
  width: 20%;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgb(0, 255, 221), rgb(24, 162, 226));

}